@using OrdersReaderBlazorApp.Data;


<Grid @ref="grid" TItem="Shop" class="table table-hover table-bordered table-striped" DataProvider="ShopsDataProvider" AllowFiltering="true" AllowPaging="true" PageSize="10" Responsive="true">
    <GridColumn TItem="Shop" HeaderText="Shop Record Action" PropertyName="shopRecordAction">
        @context.shopRecordAction
    </GridColumn>
    <GridColumn TItem="Shop" HeaderText="Shop Company ID" PropertyName="shopCompanyId">
        @context.shopCompanyId
    </GridColumn>
    <GridColumn TItem="Shop" HeaderText="Shop ID" PropertyName="shopId">
        @context.shopId
    </GridColumn>
    <GridColumn TItem="Shop" HeaderText="Shop Name" PropertyName="shopName">
        @context.shopName
        <button class="btn btn-primary mb-3" onclick="showShopDetails(@context.shopAcqCode)" style="float: right;">Detail</button>
    </GridColumn>
</Grid>

@code {


    [Parameter]
    public List<Shop> shops { get; set; }

    BlazorBootstrap.Grid<Shop> grid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task<GridDataProviderResult<Shop>> ShopsDataProvider(GridDataProviderRequest<Shop> request)
    {
        return await Task.FromResult(request.ApplyTo(shops));
    }
}


